<section id="feedbacks">
  <div class="feedbacks-container container">
    <div class="feedbacks-header"> 
      <svg class="feedbacks-icon">
      </svg>
      <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-description">Read what the couples who entrusted us with their most precious memories have to say.</p>
      <ul class="feedbacks-list"></ul>
    </div>
  <button type="button" class="feedbacks-btn">Previous</button>
  <button type="button" class="feedbacks-btn">Next</button>
  </div>
</section>
  