<footer class="footer">
  <div class="footer-container container">
    <div class="footer-content">
      
      <div class="footer-box footer-box-logo">
        <div class="footer-logo">
          <a href="./index.html">
          <svg class="footer-svg" width="206" height="161">
            <use href="/img/symbol-defs.svg#icon-logo"></use>
          </svg>
          <svg class="footer-svg-d" width="128" height="100">
            <use href="/img/symbol-defs.svg#icon-logo"></use>
          </svg></a>
        </div>
        <small class="footer-copy">&copy; 2025 Maria Kovalenko Photography.<br />All rights reserved.</small>
      </div>

      <div class="menu-container">
        <nav class="footer-box footer-box-menu" aria-label="Footer Navigation">
          <h3 class="footer-title">Menu</h3>
          <ul class="f-menu-list">
            <li><a href="./index.html">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </nav>

        <div class="footer-box footer-box-socials">
          <h3 class="footer-title">Follow Me</h3>
          <ul class="f-social-list">
           <li>
              <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="footer-container-text-social">
                <svg class="footer-svg-socials" width="24" height="24" aria-hidden="true">
                  <use href="/img/symbol-defs.svg#icon-facebook"></use>
                </svg>
                <span class="footer-text">Facebook</span>
              </a>
            </li>
            <li>
              
              <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" class="footer-container-text-social">
                <svg class="footer-svg-socials" width="24" height="24" aria-hidden="true">
                  <use href="/img/symbol-defs.svg#icon-instagram"></use>
                </svg>
                <span class="footer-text">Instagram</span>
              </a>
            </li>
            <li>
              <a href="https://x.com" target="_blank" rel="noopener noreferrer" class="footer-container-text-social">
                <svg class="footer-svg-socials" width="24" height="24" aria-hidden="true">
                  <use href="/img/symbol-defs.svg#icon-twitter"></use>
                </svg>
                <span class="footer-text">X</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>