.about {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (min-width: 1440px) {
  .about {
    padding-top: 92px;
    padding-bottom: 92px;
  }
}
.about-svg {
  display: block;
  margin: 0 auto 24px;
}
.about-title {
  font-family: var(--font-family-title);
  font-weight: 500;
  font-size: 28px;
  line-height: 1,2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  .about-title {
    font-size: 40px;
  }
}
.break-point {
  display: inline;
}
@media (min-width: 1440px) {
  .break-point {
    display: block;
  }
}
.about-desc {
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 1,5;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .about-desc {
    max-width: 779px;
    margin: 0 auto 40px;
  }
}
.about-image {
  display: block;
}
.about-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}
