.footer {
  width: 100%;
}

.footer-content {
  font-family: var(--font-family-main);
  font-weight: 400;
  background-color: #faf7e6;
  border: 2px solid #1a1a1a;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 48px;
  margin-top: 48px;
}
.footer-box {
  text-align: center;
}

.footer-title {
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 15px;
  line-height: 150%;
}

.footer-copy {
  font-size: 13px;
  color: #191919;
  line-height: 1.6;
  margin-top: 10px;
}
.footer-container-text-social {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  transition: color 0.2s ease;
  justify-content: center;
}

.f-menu-list,
.f-social-list {
  list-style: none;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.f-menu-list li:not(:last-child) {
  margin-bottom: 32px;
}
.f-social-list li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-box a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  transition: color 0.2s ease;
}

.footer-box a:hover {
  color: #a38a5e;
}
.footer-svg-d {
  display: none;
}

@media (min-width: 768px) {
  .footer-content {
    padding: 48px 32px;
    flex-direction: row;
    align-items: start;
    
  }
  .menu-container {
    flex-direction: row;
    gap: 40px;
    align-items: start;
  }
  .footer-container-text-social {
    justify-content: start;
  }
  .footer-svg {
    display: none;
  }
  .footer-svg-d {
    display: block;
  }
  .footer-box-logo {
    margin-right:auto;
  }
  .footer-box {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  
  .footer-box-menu {
    margin-right: 134px;
  }

  .footer-container {
    
    padding: 0 50px;
    
  }
  .footer-content{
    gap: 0;flex-direction: row;
    justify-content: space-between;
  }

  .footer-box {
    width: 30%;
    text-align: left;
  }
}
